<html>
<head>
    <title>
    CubeFel Account
</title>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  {% extends "base.html" %}
 <div class="container"> 

{% block content %}
<h1>ㅤ</h1>
<h1 align="center"><picture> <source srcset="https://terminator.aeza.net/_astro/sweeper.D8w_JObR_Z9WTxX.webp" type="image/webp"> <img src="https://terminator.aeza.net/_astro/sweeper.D8w_JObR_Z2tjr53.png" alt="Sweeper" style="margin-left: 16px;" data-astro-cid-sr76vcv2="" width="80" height="80" loading="lazy" decoding="async"> </picture></h1>
<h3>ㅤ</h3>
<h2 align="center">CubeFel Account - это простая система авторизации, как и для пользователей, 
так и для разработчиков.</h2>
<p align="center">Главные преимущества CFA - простота интерфейса и простота для интеграций в свои приложения</p>
<h3 align="center"><a href="/cfa/login"><button type="button" class="btn btn-primary">Вход</button></a></h3>
<h3 align="center"><a href="/cfa/my"><button type="button" class="btn btn-primary">Личный кабинет</button></a></h3>
<h3 align="center"><a href="https://cubefel.ru/cfa/info" class="btn btn-primary">Инфо о проекте</a></h3>
</div>
{% endblock content %}
</body>
</html>