<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Инфо</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% extends "base.html" %}
<div class="container">
    <div class="mb-3">
{% block content %}
<h1 align="center">ㅤ</h1>
<h1 align="center"><picture>  <img src="https://media1.tenor.com/m/pPKOYQpTO8AAAAAd/monkey-developer.gif" alt="Sweeper" style="margin-left: 16px;" data-astro-cid-sr76vcv2=""> </picture></h1>
<a class="navbar-brand"><h1 align="center">CubeFel Account</h1></a>
<a class="navbar-brand" href="/logout"></a>



<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>Здесь вы можете быстро переходить между страницами.</div><h4>ㅤ</h4>
    
    <h3 align="center"><a href="https://cubefel.ru/cfa/" class="btn btn-primary">Главная страница</a></h3>
    <h3 align="center"><a href="https://cubefel.ru/cfa/my" class="btn btn-primary">Личный кабинет</a></h3>
    <h3 align="center"><a href="https://cubefel.ru/cfa/login" class="btn btn-primary">Меню входа</a></h3>
    <h3 align="center"><a href="https://cubefel.ru/cfa/info" class="btn btn-primary">Инфо о проекте</a></h3>
   <source srcset="https://terminator.aeza.net/_astro/fan.ropKkb2V_1Izs1m.webp" type="image/webp"> <img src="https://terminator.aeza.net/_astro/fan.ropKkb2V_ZBagrK.png" alt="Fan. Just a regular fan. No jokes" style="align-self: flex-end; margin-bottom: 13px; margin-right: 15px;" data-astro-cid-ssfzsv2f="" width="45" height="53" loading="lazy" decoding="async">    
  </div>
</div>

    <h4>ㅤ</h4>
        <div class="row">
    <div class="card text-center">
  <div class="card-header">
    CubeFel Account
  </div>
  <div class="card-body">
    <h5 class="card-title">Разработчик, домен, хостинг - <a href="//t.me/cubzx">Cubzx</a></h5>
    <p class="card-text">Также спасибо: <a href="https://www.djangoproject.com/">Django</a> | <a href="https://getbootstrap.com/">Bootstrap</a></p>
    
  </div>
  <div class="card-footer text-body-secondary">...</div>
</div>
<h3>ㅤ</h3>

{% endblock content %}
    </div>
    </div>


</div><deepl-input-controller></deepl-input-controller></body></html>
